conda create --name sentiMentZubair python=3.9
call activate sentiMentZubair 
pip install plotly
pip install bs4
pip install numpy
pip install pandas
pip install matplotlib
pip install nltk
pip install tensorflow-gpu
pip install tqdm